body{
    margin: 0;
    background-color: #91756e;
}

.HomePagina{
text-align: center;
font-family: 'Roboto Slab', serif;
letter-spacing: 3px;
opacity: 0.60;
text-shadow: 1px 1px wh;


}

.navbar{
    background-color: #ffe5a9;
    overflow: hidden;
    text-align: center;
    height: 30px;
}

.navbar a{
    float: center;
    color: rgba(255, 255, 255, 0.573);
    padding: 90px 90px;
    text-decoration: none;
    font-size: 20px;
    text-shadow: 1px 1px black;
    letter-spacing: 1px;
}

.navbar a:hover{
    background-color: #f7f7f7;
    transition: 0.9s;
    opacity: 90%;
}

.navbar a.active{
    background-color: #e7cc8e;
    color: white;
}